<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Día 8 Geolocalización
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Día 8 Geolocalización</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="latitudPromesa!==0 && longitudPromesa!==0">
    <h2>Coordenadas obteneidas mediante Promesas</h2>
    <h4>Latitud: {{ latitudPromesa }} </h4>
    <h4>Longitud {{ longitudPromesa }} </h4>
    <hr>
  </div>

  <div *ngIf="latitudObservable!==0 && longitudObservable!==0">
    <h2>Coordenadas obteneidas mediante Observables</h2>
    <h4>Latitud: {{ latitudObservable }} </h4>
    <h4>Longitud {{ longitudObservable }} </h4>
    <hr>
  </div>

  <div id="Botonera">
    <ion-button color="success" expand ="block" (click)="getLocProm()">Promesas</ion-button>
    <ion-button expand="block" (click)="getLocObs()">Observables</ion-button>
  </div>
</ion-content>
